@import 'common';

body {
	// font-family: "Newsreader", sans-serif;
	// font-family: "Manrope", sans-serif;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.3;
	color: $color-main;
	background-color: $color-primary;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-image: url('../images/src/bg-texture.png');
	background-repeat: repeat;
	background-position: center;
	background-size: contain;
}

.container {
	max-width: 1790px;
	padding: 0 15px;
	margin: 0 auto;
}

.main {
	flex-grow: 1;
}

.section {
	padding-top: 100px;
	padding-bottom: 100px;
}

.title {
	font-family: 'Newsreader', sans-serif;
	font-size: 70px;
	font-weight: 300;
	line-height: 1;
	background: linear-gradient(90deg, #fff, #d1a463);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-align: center;
}

@import 'ints';
@import '../components/header';
@import '../components/footer';
