
@import 'common';

body {
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.3;
	color: $color;
	background-color: $color;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.main {
	flex-grow: 1;
}

.section {
	padding-bottom: 120px;
}

.title {
	font-size: 36px;
	font-weight: 500;
	text-align: center;
	color: $color;
}

@import 'ints';
@import '../components/header';
@import '../components/footer';
