.logo {
	max-width: 225px;
	width: 100%;
	font-size: 45px;
	font-weight: 500;
	letter-spacing: -2px;
	text-transform: uppercase;
	white-space: nowrap;
}

.button {
	min-width: 250px;
	font-weight: 500;
	padding: 20px 40px;
	border: 2px solid;
	border-image: linear-gradient(90deg, #dab681, #fff) 1;
}

.lipstick {
	position: absolute;
	top: 31%;
	left: 51%;
	width: 220px;
	transform: translateX(-50%);
	z-index: 50;
	animation-name: lipstickAnim;
	animation-delay: 0.3s;

	&::before {
		content: '';
		position: absolute;
		top: 85px;
		left: -20px;
		width: 200px;
		height: 400px;
		transform: rotate(12deg);
		background-image: url('../images/src/shadow.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__top {
		position: absolute;
	}

	&__bottom {
		position: absolute;
		top: 225px;
		left: 3px;
		width: 167px;
	}
}

.glitter {
	position: absolute;
	left: -565px;
	bottom: -600px;
	transform: rotate(-70deg);
	z-index: 50;
	animation-name: glitterAnim;
}

.product-cart {
	width: 100%;
	padding: 20px;
	border-radius: 95px;
	background-color: $color-main;

	&__icon {
		display: block;
	}
}

.circle {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 98vw;
	height: 98vw;
	border-radius: 50%;
	background-color: #d5ad72;
	transform: translate(-50%, -50%);
	animation-name: circleAnim;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}
