.banner {
	position: relative;
	

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-primary;
		transition:
			transform 2.3s;
	}

	&.active::before {
		transform: translateY(120%);
	}

	&__wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		height: 100vh;
	}

	&__title {
		max-width: 778px;
		width: 100%;
		font-family: 'Newsreader', sans-serif;
		font-size: 70px;
		font-weight: 300;
		line-height: 1;
		text-transform: uppercase;
		background: linear-gradient(90deg, #fff, #d1a463);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
	}

	&__text {
		max-width: 310px;
		width: 100%;
	}
}
