.product {
	font-weight: 500;
	text-align: center;

	&__title {
		margin-bottom: 53px;
		font-family: 'Newsreader', sans-serif;
		font-size: 70px;
		font-weight: 300;
		line-height: 1;
		background: linear-gradient(90deg, #fff, #d1a463);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
	}

	&__list {
		display: flex;
	}

	&__item {
		flex: 1;
	}

	&__img {
		margin: 0 auto 35px;

		&.hide {
			opacity: 0;
		}
	}

	&__info {
		max-width: 265px;
		width: 100%;
		margin: 0 auto;
	}

	&__descr {
		font-weight: 300;
		margin-bottom: 30px;
	}

	&__specs {
		display: block;
		font-weight: 300;
		margin-bottom: 30px;
	}

	&__price {
		display: block;
		font-size: 24px;
		margin-bottom: 30px;
	}

	&__button {
		width: 100%;
		padding: 15px;
		border: 2px solid;
		border-image: linear-gradient(90deg, #dab681, #fff) 1;
	}
}
