.header {
	padding: 30px 0;
	margin-top: 30px;
	line-height: 1;
	letter-spacing: -1px;
	color: $color-main-text;
	background-color: $color-main;
	text-transform: uppercase;
}

.user-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	margin-bottom: 40px;
	font-size: 45px;
	font-weight: 500;

	&__item {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 44px;
		height: 44px;
	}
}

.menu {
	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 70px;
		font-size: 24px;
	}
}
