<footer class="section footer">
	<div class="container">
		<div class="footer__wrapper">
			<a class="logo" href="#">The Whoo</a>
			<ul class="footer__list">
				<li class="footer__item">
					<a class="footer__link" href="#">product</a>
					<a class="footer__link" href="#">skincare</a>
					<a class="footer__link" href="#">makeup</a>
				</li>
				<li class="footer__item">
					<h3 class="footer__subtitle" href="#">News</h3>
				</li>
				<li class="footer__item">
					<h3 class="footer__subtitle" href="#">helpful link</h3>
					<a class="footer__link" href="#">our story</a>
					<a class="footer__link" href="#">online shop</a>
					<a class="footer__link" href="#">store locator</a>
					<a class="footer__link" href="#">privacy policy</a>
					<a class="footer__link" href="#">terms & conditions</a>
				</li>
				<li class="footer__item">
					<h3 class="footer__subtitle" href="#">contact us</h3>
					<address class="footer__address">
						<a class="footer__link" href="mailto:info@whoohk.com">info@whoohk.com</a>
					</address>
				</li>
				<li class="footer__item">
					<h3 class="footer__subtitle" href="#">Subscribe now</h3>
					<ul class="social">
						<li class="social__item">
							<a class="social__link" href="#">
								<span class="sr-only">email</span>
								<svg class="footer__icon" width="40" height="40">
									<use href="images/sprite.svg#icon-email"></use>
								</svg>
							</a>
						</li>
						<li class="social__item">
							<a class="social__link" href="#">
								<span class="sr-only">instagram</span>
								<svg class="footer__icon" width="40" height="40">
									<use href="images/sprite.svg#icon-instagram"></use>
								</svg>
							</a>
						</li>
						<li class="social__item">
							<a class="social__link" href="#">
								<span class="sr-only">facebook</span>
								<svg class="footer__icon" width="40" height="40">
									<use href="images/sprite.svg#icon-facebook"></use>
								</svg>
							</a>
						</li>
						<li class="social__item">
							<a class="social__link" href="#">
								<span class="sr-only">youtube</span>
								<svg class="footer__icon" width="40" height="40">
									<use href="images/sprite.svg#icon-youtube"></use>
								</svg>
							</a>
						</li>
						<li class="social__item">
							<a class="social__link" href="#">
								<span class="sr-only">x</span>
								<svg class="footer__icon" width="40" height="40">
									<use href="images/sprite.svg#icon-x"></use>
								</svg>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</footer>
<div class="copyright">
	<span class="copyright__name">© 2025 [Anna Maksak]. All rights reserved.</span>
</div>