<header class="header">
	<div class="container">
		<ul class="user-menu">
			<li class="user-menu__item">
				<a class="user-menu__burger" href="#">
					<img src="images/src/burger.png" alt="menu burger">
				</a>
				<a class="user-menu__link" href="#">
					<svg class="user-menu__icon" width="34" height="34">
						<use href="images/sprite.svg#icon-lang"></use>
					</svg>
				</a>
			</li>
			<li class="user-menu__item">
				<a class="logo" href="#">The Whoo</a>
			</li>
			<li class="user-menu__item">
				<a class="user-menu__link" href="#">
					<svg class="user-menu__icon" width="30" height="30">
						<use href="images/sprite.svg#icon-mail"></use>
					</svg>
				</a>
				<a class="user-menu__link" href="#">
					<svg class="user-menu__icon" width="25" height="30">
						<use href="images/sprite.svg#icon-location"></use>
					</svg>
				</a>
				<a class="user-menu__link" href="#">
					<svg class="user-menu__icon" width="28" height="28">
						<use href="images/sprite.svg#icon-search"></use>
					</svg>
				</a>
			</li>
		</ul>
		<nav class="menu">
			<ul class="menu__list">
				<li class="menu__item">
					<a class="menu__link" href="3">Shop</a>
				</li>
				<li class="menu__item">
					<a class="menu__link" href="3">Skincare</a>
				</li>
				<li class="menu__item">
					<a class="menu__link" href="3">Makeup</a>
				</li>
				<li class="menu__item">
					<a class="menu__link" href="3">News</a>
				</li>
				<li class="menu__item">
					<a class="menu__link" href="3">Our story</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

<div class="lipstick">
	<img class="lipstick__top" src="images/src/pomada-top.png" width="213" alt="">
	<img class="lipstick__bottom" src="images/src/pomada-botttom.png" width="167" alt="">
</div>

<img class="glitter" src="images/src/hero-glitter.png" alt="">